.CartList{
    clear: right;
    margin: 0 auto;
    width: 100%;
}
.content-container{
    margin-top: 40px;
    padding: 60px;
}

.AllCheck{
    float: right;
    margin-right: 50px;
    height:40px;
}

Button{
    margin: 10px;
}
.InputSubmit{
    margin: 10px;
}