body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("http://myimg.lightece.top/bookstore/assets/background1.jpg");
    background-size: cover;
    margin: 0;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    gap: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255, 0.125);
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.login-form input {
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/*.site-title{*/
/*    background: transparent linear-gradient(92deg,#9cc9fc 0%,#1f87e6 32%,#a9efde 52%,#512dab 100%) 0% 0% no-repeat padding-box;*/
/*    display: inline-block;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    font-size: 60px;*/
/*    margin: 20px auto;*/
/*}*/
